	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/05/2018 08:14
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: inherit;
	font-style: normal;
}

.flaticon-001-newspaper:before { content: "\f100"; }
.flaticon-002-goalie:before { content: "\f101"; }
.flaticon-003-football-player:before { content: "\f102"; }
.flaticon-004-soccer-field-1:before { content: "\f103"; }
.flaticon-005-water:before { content: "\f104"; }
.flaticon-006-goal-1:before { content: "\f105"; }
.flaticon-007-training-1:before { content: "\f106"; }
.flaticon-008-ticket:before { content: "\f107"; }
.flaticon-009-time:before { content: "\f108"; }
.flaticon-010-strategy-2:before { content: "\f109"; }
.flaticon-011-amonestation-1:before { content: "\f10a"; }
.flaticon-012-calendar:before { content: "\f10b"; }
.flaticon-013-training:before { content: "\f10c"; }
.flaticon-014-soccer-player:before { content: "\f10d"; }
.flaticon-015-soccer-1:before { content: "\f10e"; }
.flaticon-016-skills:before { content: "\f10f"; }
.flaticon-017-football-2:before { content: "\f110"; }
.flaticon-018-football-1:before { content: "\f111"; }
.flaticon-019-transfer:before { content: "\f112"; }
.flaticon-020-playoff:before { content: "\f113"; }
.flaticon-021-strategy-1:before { content: "\f114"; }
.flaticon-022-football-team:before { content: "\f115"; }
.flaticon-023-corner-1:before { content: "\f116"; }
.flaticon-024-change:before { content: "\f117"; }
.flaticon-025-football-trophy:before { content: "\f118"; }
.flaticon-026-gold-medal:before { content: "\f119"; }
.flaticon-027-football:before { content: "\f11a"; }
.flaticon-028-first-aid-kit:before { content: "\f11b"; }
.flaticon-029-glove:before { content: "\f11c"; }
.flaticon-030-cheering:before { content: "\f11d"; }
.flaticon-031-scoreboard:before { content: "\f11e"; }
.flaticon-032-trophy-1:before { content: "\f11f"; }
.flaticon-033-stopwatch:before { content: "\f120"; }
.flaticon-034-commentator:before { content: "\f121"; }
.flaticon-035-seats:before { content: "\f122"; }
.flaticon-036-trophy:before { content: "\f123"; }
.flaticon-037-soccer:before { content: "\f124"; }
.flaticon-038-television:before { content: "\f125"; }
.flaticon-039-smartphone:before { content: "\f126"; }
.flaticon-040-soccer-ball-1:before { content: "\f127"; }
.flaticon-041-football-jersey-1:before { content: "\f128"; }
.flaticon-042-football-jersey:before { content: "\f129"; }
.flaticon-043-strategy:before { content: "\f12a"; }
.flaticon-044-football-shoes:before { content: "\f12b"; }
.flaticon-045-goal:before { content: "\f12c"; }
.flaticon-046-corner:before { content: "\f12d"; }
.flaticon-047-referee:before { content: "\f12e"; }
.flaticon-048-soccer-ball:before { content: "\f12f"; }
.flaticon-049-amonestation:before { content: "\f130"; }
.flaticon-050-soccer-field:before { content: "\f131"; }