@import url("https://fonts.googleapis.com/css?family=Anton|Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700");
.table-striped {
  background-color: #fff; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.01); }

.table-striped tbody tr td {
  vertical-align: middle;
  white-space: nowrap; }

.table-striped tbody tr td .form-check {
  margin-bottom: 0; }

.table-striped tbody tr td .no-striped tr {
  background-color: #fff; }

.table-striped tbody tr td .no-striped tr td {
  vertical-align: middle; }

.table-striped tbody tr td .no-striped tr td .form-check {
  margin-bottom: 0; }

.table .thead-light th {
  background-color: #111;
  color: white;
  border: none; }

.table-dark {
  color: #fff;
  background-color: rgba(171, 44, 48, 0.95); }

.table-dark td {
  border-color: #ab2c30;
  vertical-align: middle; }

.table-dark th {
  border-color: #ab2c30;
  vertical-align: middle; }

.table-dark thead th {
  border-color: #ab2c30;
  vertical-align: middle; }

.dropdown-item.active, .dropdown-item:active {
  background-color: #ab2c30;
  color: #fff; }

.btn:not([disabled]):not(.disabled).active, .btn:not([disabled]):not(.disabled):active {
  background-color: #c9a142; }

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #e62129;
  border-color: #e62129; }

html, body {
  font-size: 16px;
  line-height: 2;
  color: #333;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-weight: 300;
  background-color: #111;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0;
  font-family: "Teko", sans-serif;
  line-height: 1.8;
  letter-spacing: 0;
  color: #ab2c30; }

strong {
  font-weight: bold; }

.row {
  margin-left: -1rem;
  margin-right: -1rem; }

a {
  color: #666;
  font-weight: 500;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

a:hover {
  color: #ab2c30; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin-bottom: 0;
  padding-left: 2rem; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 1rem;
  padding-right: 1rem; }

.btn {
  font-size: .9rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase; }

.btn-primary {
  background-color: #ab2c30;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 6px 20px; }

.btn-primary:hover {
  background-color: #ab2c30;
  border-color: #ab2c30;
  filter: brightness(1.1); }

.btn-warning {
  background-color: #c8c322;
  border-color: #c8c322; }

.btn-border-black {
  background-color: transparent;
  border: 0.25rem solid #000;
  border-radius: 0;
  font-weight: bold;
  color: #000;
  transition: all 0.3s; }

.btn-border-black:hover {
  background-color: #e62129;
  border: 0.25rem solid #e62129;
  color: #fff; }

.btn-default {
  background-color: #c9a142;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 6px 20px; }

.btn-default:hover {
  color: #fff;
  filter: brightness(1.1); }

.btn-default.view {
  background-color: green;
  border-color: green;
  color: #fff; }

.grid-bg {
  background-color: #fff;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  border-bottom: 1px solid #ccc; }

.fa-briefcase-medical {
  color: #e62129; }

p.red {
  color: #ab2c30; }

.top-nav {
  padding: 0.5rem;
  background-color: #111;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.top-nav .language-form {
  max-width: 4rem;
  margin-right: 0.5rem; }

.top-nav .language-form .form-group {
  margin-bottom: 0; }

.top-nav .language-form .form-group select {
  font-size: 0.85rem; }

.top-nav .nav .nav-link {
  padding: 0.5rem;
  color: #fff;
  font-size: 0.85rem; }

.top-nav .profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff; }

.top-nav .profile-info img {
  max-width: 2rem;
  border-radius: 100%;
  margin-right: 0.5rem; }

.top-nav .profile-info a {
  margin-right: 0.5rem;
  color: #fff; }

.main-landing {
  background-color: transparent;
  position: absolute;
  z-index: 40;
  right: 0; }

.navbar {
  background-color: #f2f2f2;
  padding: 0.2rem 1rem; }

.navbar .nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.navbar .nav-item .nav-link {
  padding: 1rem;
  letter-spacing: 1px;
  font-size: .8rem;
  text-transform: uppercase;
  color: #373f46; }

.navbar .nav-item .nav-link:hover {
  opacity: 1;
  color: #ab2c30; }

.navbar .nav-item .nav-link .active {
  color: #ab2c30; }

.navbar .navbar-wrap {
  width: 100%; }

.navbar .navbar-brand {
  padding: 0; }

.navbar .navbar-brand img {
  max-height: 5rem;
  position: absolute;
  top: 0.5rem;
  max-width: 65%; }

.navbar .navbar-brand a {
  color: #fff;
  font-size: 1.4rem; }

.navbar .navbar-brand h3 {
  font-size: 1.6rem;
  line-height: 1;
  padding-top: 5px;
  text-transform: uppercase; }

.mobile {
  display: none; }

.toggle-menu {
  display: none;
  background-color: transparent;
  border-color: transparent; }

.full-nav {
  width: 100%;
  padding-right: 0; }

pre {
  background-color: #fff;
  border-radius: 0.25rem; }

.landing-nav {
  display: none; }

.register {
  background-size: cover;
  background-position: center center;
  color: #fff;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem; }

.register .logo {
  max-width: 10rem; }

.register a {
  color: #e4cd8b; }

.register h1 {
  color: #fff; }

.register .btn {
  color: #fff; }

.register-sidebar ul {
  margin-bottom: 0;
  padding-left: 2rem;
  list-style: none; }

.register-sidebar ul li {
  position: relative; }

.register-sidebar ul li:before {
  content: "\25AA";
  color: #ab2c30;
  position: absolute;
  left: -1rem; }

.main-overlay {
  background-color: #222;
  background-repeat: repeat;
  opacity: 0;
  z-index: 5;
  position: relative; }

.main-overlay .main-background {
  padding: 2rem;
  height: 100vh;
  min-height: 450px;
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  z-index: 1; }

.main-overlay .main-background .content {
  text-align: center; }

.main-overlay .main-background .content h1 {
  margin: 1rem 0 1rem 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1; }

.main-overlay .main-background .content .logo {
  max-width: 25rem; }

.main-overlay .main-background .content img {
  max-width: 30rem; }

.main-overlay .main-background .content .btn {
  font-family: "Teko", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #c9a142, #e4cd8b);
  border: none;
  padding: 0.73rem 3rem 0.45rem 3rem;
  letter-spacing: 3px;
  font-weight: normal;
  border-width: 3px;
  line-height: 1; }

.main-overlay .main-background .content .link-group {
  padding: 1.5rem 0; }

.main-overlay .main-background .content .link-group .text-link {
  color: #c9a142;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.5rem 0;
  display: inline-block;
  margin: 0 auto; }

.main-overlay .main-background .content .link-group .text-link:first-child:after {
  content: "|";
  padding-left: 1.5rem;
  padding-right: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75); }

.content-wrap {
  background-color: #fff;
  padding: 3rem 0; }

.gray-bg {
  background-color: #f2f2f2; }

.live-score {
  color: #666;
  font-weight: 500;
  text-align: left !important; }

.live-team {
  color: #666;
  font-weight: 500; }

.landing-info {
  text-align: center; }

.landing-info h3 {
  color: #ab2c30;
  font-size: 2.2rem;
  margin-top: 0;
  letter-spacing: 2; }

.landing-info h4 {
  color: #ab2c30; }

.landing-info p {
  font-size: 1rem;
  color: #000; }

.landing-info .btn {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  font-family: "Teko", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #ab2c30, #e62129);
  border: none;
  padding: 0.73rem 3rem 0.45rem 3rem;
  letter-spacing: 3px;
  font-weight: normal;
  border-width: 3px;
  line-height: 1; }

.landing-content img {
  width: 60%; }

.action-icons {
  padding: 3rem 0; }

.action-icons .col .cta-wrap {
  text-align: center;
  border: 0.5rem solid #212529;
  padding: 0.5rem; }

.action-icons .col .cta-wrap .cta {
  padding: 2rem;
  background-color: #222;
  background-image: url(../img/random-squares.png);
  background-repeat: repeat; }

.action-icons .col .cta-wrap .cta i {
  padding: 1.4rem 1.3rem;
  color: #fff;
  width: 10rem;
  display: block;
  margin: 0 auto;
  background-color: #0091ff;
  border-radius: 100%;
  border: 0.5rem solid #fff; }

.action-icons .col .cta-wrap .cta i img {
  width: 90%;
  height: auto; }

.action-icons .col .cta-wrap .cta h3 {
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 0;
  font-size: 2.2rem;
  text-transform: uppercase; }

.action-icons .col:nth-child(2) .cta-wrap i {
  background-color: #e74c3c; }

.action-icons .col:nth-child(3) .cta-wrap i {
  background-color: #f39c12; }

.bios .bio-wrap {
  margin-bottom: 2rem; }

.bios .bio-wrap .card-title {
  text-align: center; }

.bios .bio-wrap .member-title {
  text-align: center; }

.subfooter {
  padding: 1rem;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center; }

.subfooter .logos img {
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.subfooter .social-media ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.subfooter .social-media ul li {
  display: inline-block; }

.subfooter .social-media ul li a {
  padding: 0 0.5rem;
  font-size: 1.8rem;
  line-height: 1.4; }

.fa-facebook {
  color: #3a559f; }

.fa-twitter {
  color: #2daae1; }

footer.container-fluid {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column; }

footer.container-fluid .nav {
  width: 100%;
  flex-direction: row; }

footer.container-fluid .nav .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  padding-left: 0;
  padding-top: 0;
  font-size: 0.85rem;
  color: #888; }

footer.container-fluid .nav .nav-link:hover {
  color: #888; }

footer.container-fluid .credit-cards {
  text-align: right; }

footer.container-fluid .credit-cards img {
  max-height: 2rem; }

footer.container-fluid .copyright {
  font-size: 0.85rem;
  color: #888; }

footer.container-fluid .copyright a {
  color: #888; }

.form-check-input {
  margin-left: 0;
  margin-top: 0.45rem; }

.modal-dialog {
  max-width: 40rem; }

.modal-body {
  padding: 2rem; }

.modal-body h2 {
  text-align: center;
  color: #ab2c30; }

.modal-footer {
  justify-content: center; }

#league_size .entries td {
  vertical-align: middle; }

#league_size .entries td .rounded-circle {
  max-width: 1.5rem; }

tr.selected {
  background-color: #ab2c30 !important;
  color: #fff; }

.rounded-circle {
  max-width: 1.5rem; }

.live-username {
  text-align: center; }

.align-center {
  text-align: center; }

.winner {
  background-color: rgba(80, 241, 102, 0.28) !important;
  font-weight: 500; }

.winner a {
  color: #2c6427; }

.loser {
  background-color: rgba(243, 81, 81, 0.28) !important;
  font-weight: 500; }

.loser a {
  color: #e62129; }

.greyed {
  background-color: rgba(171, 171, 171, 0.17) !important;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  color: #8e7575; }

.gametype {
  width: 15px; }

.teamlogo {
  width: 30px; }

.live-score {
  font-size: 15px; }

.live-score thead tr {
  background-color: #373f46; }

.live-score thead tr th {
  padding: 3px 0.75rem; }

.live-score tbody tr td {
  padding: 3px 0.75rem; }

.game-info thead tr {
  background-color: #111; }

.game-info thead tr th {
  padding: 11px .75rem;
  border-color: #111; }

.game-info tbody td {
  padding: 11px 0.75rem; }

.game-info.mobile {
  display: none; }

.modal-link {
  color: #444;
  font-weight: 400; }

.modal-link:hover {
  color: #ab2c30; }

.left-header {
  background-color: #e9ecef;
  font-weight: bold; }

#contest_info .modal-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; }

#contest_info .modal-body ul li {
  display: inline-block;
  padding: 0 0.5rem;
  letter-spacing: 1px;
  font-weight: bold; }

#playercard .modal-body .top-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

#playercard .modal-body .player {
  display: flex;
  flex-direction: row; }

#playercard .modal-body .player .image {
  padding-right: 1rem; }

#playercard .modal-body .player .image img {
  max-width: 8rem; }

#playercard .modal-body .player .info {
  font-weight: bold; }

#playercard .modal-body .player .info .name {
  font-family: "Anton", sans-serif;
  font-size: 1.4rem;
  font-weight: normal; }

#playercard .modal-body .player .info .name span.green {
  color: green; }

#playercard .modal-body .player .info .team {
  font-size: 0.9rem; }

#playercard .modal-body .player .info .action {
  padding-top: 0.5rem; }

#playercard .modal-body .player .info .action a {
  font-size: 0.85rem; }

#playercard .modal-body .stats {
  margin-top: 2rem; }

#playercard .modal-body .stats .nav-tabs {
  font-size: 0.85rem; }

#playercard .modal-body .stats .tab-content {
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

#playercard .modal-body .stats .table {
  margin-bottom: 0; }

#playercard .modal-body .stats .table thead tr td {
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  border-top: none; }

#playercard .modal-body .stats .table tbody tr th {
  font-size: 0.85rem;
  text-align: center; }

#playercard .modal-body .stats .table tbody tr td {
  font-size: 0.85rem;
  text-align: center; }

#playercard .modal-body #career .table thead tr td {
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: none; }

#playercard .modal-body #career .table tbody tr th {
  font-size: 0.85rem;
  font-weight: normal; }

#playercard .modal-body #career .table tbody tr td {
  font-size: 0.85rem;
  text-align: left; }

#playercard .modal-body #career .table tbody tr td .title {
  font-family: "Anton", sans-serif;
  font-size: 1rem;
  text-transform: uppercase; }

#playercard .modal-body #career .table tbody tr td .info {
  display: flex;
  flex-direction: row; }

#playercard .modal-body #career .table tbody tr td .info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 33.333%; }

#playercard .modal-body #career .table tbody tr td .info ul li {
  font-size: 12px;
  line-height: 1.6; }

#playercard .modal-body #career .table tbody tr td .info ul li strong {
  text-transform: uppercase;
  font-weight: bold; }

#playercard .modal-body #career .table tbody tr td .info ul li span {
  font-weight: 500; }

#playercard .modal-body #career .table tbody tr td .info ul li span.green {
  color: green; }

#playercard .modal-body #career .table tbody tr td .info ul li span.red {
  color: #e62129; }

#playercard .modal-body #career .table tbody tr td .info ul li span.gray {
  color: #666; }

#playercard .modal-body #career .table tbody tr:first-child td {
  border-top: none; }

#playercard .modal-body .news h4.news-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  margin-top: 0; }

#playercard .modal-body .news .supplemental {
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  line-height: 1.4;
  margin-top: 1rem; }

.marquee {
  height: 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #222;
  border-radius: 0.25rem;
  background-image: url(../img/ticker.png);
  background-size: 20px;
  background-repeat: repeat;
  border: 2px solid #000;
  margin-bottom: 3rem; }

.marquee div {
  display: block;
  width: 200%;
  height: 3rem;
  position: absolute;
  overflow: hidden;
  animation: marquee 10s linear infinite; }

.marquee div span {
  float: left;
  width: 50%;
  color: #fff;
  padding: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.4;
  font-size: 1.2rem; }

@keyframes marquee {
  0% {
    left: 0; }
  100% {
    left: -100%; } }
.filter-toggle {
  display: none; }

.lobby-buttons {
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  display: flex; }

.lobby-buttons .league-buttons {
  margin-top: -3rem;
  max-width: 100%; }

.lobby-buttons .league-buttons a {
  width: 100%;
  margin-bottom: 0.5rem; }

.lobby-buttons .league-buttons a:last-child {
  margin-bottom: 0; }

.create {
  text-align: right; }

.closed {
  background-color: #c3c3c3;
  border: #c3c3c3 1px solid; }

aside {
  display: block;
  position: relative;
  overflow: hidden; }

aside h3 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;
  padding: .7em;
  margin: 0;
  line-height: 1;
  position: absolute;
  padding-left: 55px;
  top: 0;
  left: 0;
  width: 1000%;
  -webkit-transform: rotate(90deg) translateX(20px);
  -moz-transform: rotate(90deg) translateX(20px);
  -ms-transform: rotate(90deg) translateX(20px);
  -o-transform: rotate(90deg) translateX(20px);
  transform: rotate(90deg) translateX(20px);
  -webkit-transform-origin: 1.8em .5em;
  -moz-transform-origin: 1.8em .5em;
  -ms-transform-origin: 1.8em .5em;
  -o-transform-origin: 1.8em .5em;
  transform-origin: 1.8em 0.5em; }

aside h4 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;
  padding: .7em;
  padding-left: 55px;
  margin: 0;
  line-height: 1;
  top: 0;
  left: 0; }

.filters form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ecf2f7; }

.filters .filter {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 1rem;
  padding-bottom: 0; }

.filters .filter label {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85rem; }

.filters .legend {
  display: flex;
  padding: 0 1rem 1rem 0;
  font-size: 0.85rem;
  justify-content: flex-end; }

.filters .legend div {
  padding-left: 1rem; }

.filters .legend div img {
  max-width: 1rem;
  display: inline-block; }

.filters .league-filter {
  padding-bottom: 1rem; }

.filters .league-filter label {
  display: block; }

.filters .league-filter .checkbox {
  display: inline-block; }

.filters .league-filter .checkbox label {
  background-color: #ab2c30;
  color: #fff;
  font-size: .7rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
  display: inline-block;
  text-transform: uppercase;
  padding: .375rem .75rem;
  border-radius: .25rem;
  line-height: 1.5;
  cursor: pointer;
  margin: 0; }

.filters .league-filter input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.filters .league-filter input[type=checkbox]:checked ~ label.checkbox {
  background: green; }

.ui-widget-header {
  background-color: #c9a142; }

.lobby-table {
  font-size: 14px; }

.join {
  text-align: center;
  font-wiehgt: bold; }

.join .btn-default {
  background: linear-gradient(90deg, #c9a142, #c9a142);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); }

.league-buttons, .lobby-games {
  display: none; }

.featured-games.slick-dotted.slick-slider {
  width: 100%;
  margin-bottom: 3rem; }

.featured-games.slick-dotted.slick-slider .slick-slide {
  padding: 0 0.25rem; }

.featured-games.slick-dotted.slick-slider .slick-slide div div {
  display: block !important; }

.featured-games.slick-dotted.slick-slider .slick-dots li button:before {
  font-size: 0.85rem; }

.game-details h1 {
  text-align: center;
  color: #000;
  margin: 1rem 0;
  margin-top: 0; }

.game-details .game-notes {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.game-details .game-notes ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.game-details .game-notes ul li {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  background-color: #e74c3c;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem; }

.game-details .game-rules, .game-details .pick-history {
  display: none; }

.game-slate-wrap {
  background-color: #ccc;
  padding: 1rem 0; }

.game-slate-wrap .slick-dotted.slick-slider {
  margin-bottom: 1rem; }

.game-slate-wrap .game-slate {
  display: none; }

.game-slate-wrap .game-slate .slick-slide a {
  display: block;
  padding: 0.5rem 0.25rem; }

.game-slate-wrap .game-slate .slick-slide a span {
  padding: 0.5rem;
  font-size: 0.65rem;
  border-radius: 0.25rem;
  background-color: #fff;
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold; }

.game-slate-wrap .game-slate .slick-dots li button:before {
  font-size: 0.85rem; }

.player-list .form-inline {
  margin-bottom: 1rem; }

.player-list .form-inline input {
  width: 85%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.player-list .form-inline button {
  width: 15%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.player-list .nav-tabs {
  margin-bottom: 1rem;
  border-bottom: 0; }

.player-list .nav-tabs .nav-item {
  margin-bottom: 0;
  width: 24%;
  margin: 0.5%; }

.player-list .nav-tabs .nav-item .nav-link {
  font-size: 0.85rem;
  border: none;
  background-color: #eee;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222; }

.player-list .nav-tabs .nav-item .nav-link.active {
  background-color: #bf3228;
  color: #fff;
  border-radius: 0.25rem; }

.player-list #positions {
  max-height: 553px;
  overflow: auto; }

.player-list #positions table.table-bordered {
  margin-bottom: 0; }

.player-list #positions table.table-bordered thead td {
  font-size: 0.65rem;
  border-bottom-width: 1px; }

.player-list #positions table.table-bordered tbody tr:hover {
  background-color: #f3f3f3; }

.player-list #positions table.table-bordered tbody tr td {
  padding: 0.25rem;
  text-align: center;
  font-size: 0.85rem;
  vertical-align: middle; }

.player-list #positions table.table-bordered tbody tr td button {
  border: none;
  cursor: pointer;
  color: green;
  background-color: transparent; }

.roster .roster-salary {
  display: flex;
  flex-direction: column; }

.roster .roster-salary .salary {
  text-align: right;
  font-family: "Anton", sans-serif;
  font-size: 2.4rem;
  line-height: 1.4; }

.roster .roster-salary .salary span {
  font-size: 1.4rem; }

.roster .roster-salary .average {
  text-align: right;
  font-family: "Anton", sans-serif;
  font-size: 1.4rem; }

.roster .roster-salary .average span {
  font-size: 1.4rem; }

.roster .roster-wrap .roster-player {
  border: 1px solid #eee;
  margin-bottom: 0.25rem;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 1rem; }

.roster .roster-wrap .roster-player .pos {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  width: 3rem; }

.roster .roster-wrap .roster-player .player .name span.square.injured {
  border-radius: 0.25rem;
  background-color: #bf3228;
  color: #fff;
  padding: 0.15rem 0.25rem;
  padding-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.4; }

.roster .roster-wrap .roster-player .player .name span.square.starter {
  border-radius: 0.25rem;
  background-color: green;
  color: #fff;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  line-height: 1.4; }

.roster .roster-wrap .roster-player .close {
  font-size: 1rem;
  color: #bf3228;
  cursor: pointer; }

.roster .roster-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.roster .roster-buttons a {
  margin: 0.25rem 0;
  margin-left: 0.5rem; }

.live-scoring .live-lineup {
  margin-top: 45px; }

.live-scoring .live-lineup .lineup {
  display: flex;
  flex-direction: column; }

.live-scoring .live-lineup .lineup .lineup-top {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  align-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-bottom: 0; }

.live-scoring .live-lineup .lineup .lineup-top .image {
  max-width: 15%;
  margin-right: 0.5rem;
  border-right: 1px solid #ccc; }

.live-scoring .live-lineup .lineup .lineup-top .name {
  padding: 0.25rem;
  max-width: 60%;
  width: 60%;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: bold; }

.live-scoring .live-lineup .lineup .lineup-top .name span {
  display: block;
  font-weight: normal;
  font-size: 14px; }

.live-scoring .live-lineup .lineup .lineup-top .score {
  padding: 0.25rem;
  max-width: 25%;
  width: 25%;
  text-align: right;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.4; }

.live-scoring .live-lineup .lineup .lineup-body {
  display: flex;
  flex-direction: column; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player {
  border: 1px solid #ccc;
  border-bottom: 0px;
  flex-direction: row;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0.5rem;
  flex-basis: auto; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player:last-child {
  border-bottom: 1px solid #ccc; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .player {
  line-height: 1.4;
  padding-right: 1rem;
  min-width: 45%; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .player .name {
  text-align: left;
  font-size: 12px; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .player .name span.square.injured {
  border-radius: 0.25rem;
  background-color: #bf3228;
  color: #fff;
  padding: 0.15rem 0.25rem;
  padding-top: 0.25rem;
  font-size: 10px;
  line-height: 1.4; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .player .name span.square.starter {
  border-radius: 0.25rem;
  background-color: green;
  color: #fff;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  font-size: 10px;
  line-height: 1.4; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .player .name .salary {
  font-size: 12px;
  margin-top: 0.5rem; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .box-score {
  min-width: 35%; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .box-score table {
  margin-bottom: 0; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .box-score table thead tr th {
  font-size: 10px;
  padding: 0 0.25rem;
  border-bottom: none; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .box-score table tbody tr td {
  font-size: 10px;
  padding: 0 0.25rem;
  text-align: center; }

.live-scoring .live-lineup .lineup .lineup-body .roster-player .score {
  min-width: 20%;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold; }

.live-scoring .live-tabs .lineup {
  display: flex;
  flex-direction: column; }

.live-scoring .live-tabs .lineup .lineup-top {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  align-content: center;
  align-items: center;
  border-bottom: 0; }

.live-scoring .live-tabs .lineup .lineup-top .image {
  max-width: 15%;
  margin-right: 0.5rem;
  border-right: 1px solid #ccc; }

.live-scoring .live-tabs .lineup .lineup-top .name {
  padding: 0.25rem;
  max-width: 60%;
  width: 60%;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: bold; }

.live-scoring .live-tabs .lineup .lineup-top .name span {
  display: block;
  font-weight: normal;
  font-size: 14px; }

.live-scoring .live-tabs .lineup .lineup-top .score {
  padding: 0.25rem;
  max-width: 25%;
  width: 25%;
  text-align: right;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.4; }

.live-scoring .live-tabs .lineup .lineup-body {
  display: flex;
  flex-direction: column; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player {
  border: 1px solid #ccc;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  flex-direction: row;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0.5rem;
  flex-basis: auto; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .player {
  line-height: 1.4;
  padding-right: 1rem;
  min-width: 45%; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .player .name {
  text-align: left;
  font-size: 12px; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .player .name span.square.injured {
  border-radius: 0.25rem;
  background-color: #bf3228;
  color: #fff;
  padding: 0.15rem 0.25rem;
  padding-top: 0.25rem;
  font-size: 10px;
  line-height: 1.4; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .player .name span.square.starter {
  border-radius: 0.25rem;
  background-color: green;
  color: #fff;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  font-size: 10px;
  line-height: 1.4; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .player .name .salary {
  font-size: 12px;
  margin-top: 0.5rem; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .box-score {
  min-width: 35%; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .box-score table {
  margin-bottom: 0; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .box-score table thead tr th {
  font-size: 10px;
  padding: 0 0.25rem;
  border-bottom: none; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .box-score table tbody tr td {
  font-size: 10px;
  padding: 0 0.25rem;
  text-align: center; }

.live-scoring .live-tabs .lineup .lineup-body .roster-player .score {
  min-width: 20%;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold; }

.live-scoring .live-tabs .nav-tabs .nav-link {
  font-size: 0.85rem; }

.live-scoring .live-tabs .nav-tabs .tab-content {
  border: 1px solid #ccc;
  border-top: none;
  max-height: 36rem;
  overflow-y: scroll; }

.live-scoring .live-tabs .nav-tabs .tab-content table {
  margin-bottom: 0; }

.live-scoring .live-tabs .nav-tabs .tab-content table thead tr th {
  font-size: 0.85rem; }

.live-scoring .live-tabs .nav-tabs .tab-content table tbody tr td {
  text-align: center;
  font-size: 0.85rem;
  vertical-align: middle; }

.live-scoring .actions {
  padding-top: 1rem;
  text-align: right; }

.live-scoring .actions p {
  margin: 0; }

.squares-content {
  border: none !important;
  max-height: none !important; }

#avatar_drag_drop {
  padding: 5rem;
  border: 5px dashed #ccc;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.25rem; }

.steps .row {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

.steps .row:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0; }

.steps .col-md-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start; }

.steps .col-md-2 h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #000;
  border-bottom: 3px solid #ab2c30;
  margin: 0 auto;
  line-height: 1.4;
  margin-top: 0.5rem; }

.steps .col-md-10 h4 {
  color: #ab2c30; }

span.green {
  color: green;
  font-weight: bold; }

span.yellow {
  color: #c9a142;
  font-weight: bold; }

span.red {
  color: #e62129;
  font-weight: bold; }

.input-group .input-group-prepend .input-group-text {
  display: block;
  background-color: #ccc; }

.withdraw-table {
  max-height: 25rem;
  overflow: auto; }

.nav-pills .nav-link.active {
  background-color: #ab2c30; }

.page-link {
  color: #000; }

.page-link:hover, .page-link:focus {
  color: #ab2c30; }

.page-item.active .page-link {
  background-color: #ab2c30;
  border-color: #ab2c30; }

@media screen and (max-width: 767px) {
  table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr {
    display: block; }

  .responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  .responsive tr {
    border: 1px solid #ccc;
    border-top: none; }

  .responsive tr:first-child {
    border-top: 1px solid #ccc; }

  .responsive td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%; }

  .responsive td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-table-header);
    font-weight: bold; }

  .table-responsive .bootstrap {
    min-height: .01%;
    overflow-x: auto; }

  .table-responsive.bootstrap {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd; }

  .table-responsive.bootstrap > .table {
    margin-bottom: 0; }

  .table-responsive.bootstrap > .table > thead > tr > th, .table-responsive.bootstrap > .table > tbody > tr > th, .table-responsive.bootstrap > .table > tfoot > tr > th, .table-responsive.bootstrap > .table > thead > tr > td, .table-responsive.bootstrap > .table > tbody > tr > td, .table-responsive.bootstrap > .table > tfoot > tr > td {
    white-space: nowrap; }

  .table-responsive.bootstrap > .table-bordered {
    border: 0; }

  .table-responsive.bootstrap > .table-bordered > thead > tr > th:first-child, .table-responsive.bootstrap > .table-bordered > tbody > tr > th:first-child, .table-responsive.bootstrap > .table-bordered > tfoot > tr > th:first-child, .table-responsive.bootstrap > .table-bordered > thead > tr > td:first-child, .table-responsive.bootstrap > .table-bordered > tbody > tr > td:first-child, .table-responsive.bootstrap > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }

  .table-responsive.bootstrap > .table-bordered > thead > tr > th:last-child, .table-responsive.bootstrap > .table-bordered > tbody > tr > th:last-child, .table-responsive.bootstrap > .table-bordered > tfoot > tr > th:last-child, .table-responsive.bootstrap > .table-bordered > thead > tr > td:last-child, .table-responsive.bootstrap > .table-bordered > tbody > tr > td:last-child, .table-responsive.bootstrap > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }

  .table-responsive.bootstrap > .table-bordered > tbody > tr:last-child > th, .table-responsive.bootstrap > .table-bordered > tfoot > tr:last-child > th, .table-responsive.bootstrap > .table-bordered > tbody > tr:last-child > td, .table-responsive.bootstrap > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0; } }
.btn-sm {
  padding: 0.25rem 0.5rem; }

#pickem {
  max-height: 25.7rem;
  overflow: auto; }

#pickem table {
  margin-bottom: 0; }

a.red {
  color: #ab2c30;
  padding: 0 0.3rem; }

.form-check {
  padding-left: 0 !important; }

.form-check-label {
  padding-left: 1.25rem !important; }

/*# sourceMappingURL=style.css.map */
