@import url("https://fonts.googleapis.com/css?family=Anton|Roboto:100,300,400,500,700,900");
@media all and (max-width: 1200px) {
  .live-score {
    font-size: 12px; }

  .game-info thead th {
    padding: 10px 0.75rem; }

  .game-info tbody td {
    padding: 10px 0.75rem; } }
@media all and (max-width: 1023px) {
  .live-score {
    font-size: 14px; }

  .game-info {
    font-size: 14px; }

  .game-info thead tr th {
    padding: 12px 0.75rem; }

  .game-info tbody tr td {
    padding: 12px 0.75rem; }

  .game-info.desktop {
    display: none; }

  .game-info.mobile {
    display: table; }

  .filters {
    flex-direction: column; }

  .filters .filter {
    max-width: 100%;
    flex: 0 0 100%;
    padding-top: 0; }

  .filters .league-filter {
    justify-content: center;
    padding-top: 1rem; }

  .live-scoring .live-lineup {
    margin-top: 0;
    flex: 0 0 100%;
    max-width: 100%; }

  .live-scoring .live-lineup .lineup .lineup-top .score {
    font-size: 2rem; }

  .live-scoring .live-tabs {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 2rem; }

  .live-scoring .live-tabs .lineup .lineup-top .score {
    font-size: 2rem; }

  .live-scoring .live-tabs .tab-content {
    max-height: none; }

  .live-scoring .live-tabs .tab-content #stats {
    max-height: 35rem; }

  .lobby .lobby-buttons {
    flex: 0 0 100%;
    max-width: 100%; }

  .lobby .lobby-buttons .league-buttons {
    margin-top: -1rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex !important;
    flex-direction: row; }

  .lobby .lobby-buttons .league-buttons a {
    width: auto;
    margin: 0;
    width: 100%;
    border: 3px solid #fff; }

  .lobby .lobby-games {
    flex: 0 0 100%;
    max-width: 100%; }

  .no-overflow {
    overflow: hidden !important; }

  .game-details .game-detail-btn {
    width: 100%;
    margin-bottom: 1rem;
    font-weight: normal; }

  .game-details .game-notes {
    display: none; }

  .game-details .game-notes ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }

  .game-details .game-notes ul li {
    display: block;
    max-width: 100%;
    min-width: 50%;
    text-align: center;
    margin: 0;
    border: 0.25rem solid #fff; }

  .player-select .player-list {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    margin: 0 auto;
    z-index: 500;
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    padding: 2rem; }

  .player-select .player-list.open {
    right: 0;
    overflow-y: scroll; }

  .player-select .player-list.open #positions {
    max-height: none; }

  .player-select .roster {
    flex: 0 0 100%;
    max-width: 100%; }

  .desktop {
    display: none; }

  .mobile {
    display: block; }

  .navbar-wrap {
    display: none; }

  .navbar-wrap img {
    max-height: 3.5rem; }

  .top-nav .navbar-wrap {
    display: block; }

  .top-nav .nav {
    display: flex; }

  .toggle-menu {
    display: block;
    font-size: 2rem;
    color: #ab2c30; }

  .cbp-spmenu {
    background-color: #fff;
    z-index: 2000;
    width: 20rem; }

  .cbp-spmenu img {
    max-width: 80%;
    max-height: none; }

  .cbp-spmenu .navbar-brand {
    border-bottom: none;
    background-color: #ccc;
    width: 100%;
    padding: 1rem;
    text-align: center; }

  .cbp-spmenu .navbar-brand img {
    position: static;
    max-width: 45%; }

  .cbp-spmenu ul {
    padding: 0;
    margin: 0; }

  .cbp-spmenu ul a {
    border-color: #ccc;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 1rem 2rem; }

  .cbp-spmenu ul a:hover {
    background-color: #ccc;
    color: #888; }

  .modal-backdrop.fade {
    opacity: 0.6; }

  html, body {
    font-size: 2vw; }

  .cbp-spmenu-left {
    left: -100%; }

  .register {
    margin-top: 3rem; } }
@media all and (max-width: 767px) {
  html, body {
    font-size: 2.75vw; }

  .history-mobile li {
    width: 100%; }

  td.live-score {
    font-size: 0.8rem; }

  .teamlogo {
    width: 16px; }

  .register-sidebar {
    margin-top: 3rem; }

  .grid-bg {
    border-bottom: none; }

  .game-info {
    font-size: 0.85rem;
    font-weight: 400; }

  .game-info thead tr th {
    padding: 1px 0.75rem; }

  .game-info tbody tr td {
    padding: 1px 0.75rem; }

  .marquee {
    margin-bottom: 2rem; }

  .lobby-buttons {
    margin-bottom: 2rem; }

  .lobby-buttons .league-buttons {
    width: 100%;
    margin-top: 0; }

  .filters {
    flex-direction: column; }

  .filters .filter {
    max-width: 100%;
    flex: 0 0 100%;
    padding-top: 0; }

  .filters .league-filter {
    justify-content: center;
    padding-top: 1rem; }

  #lobby_table thead th {
    padding: 0.5rem;
    white-space: nowrap;
    border-bottom-width: 1px; }

  #lobby_table tbody td {
    padding: 0.5rem;
    white-space: nowrap; }

  .top-nav {
    justify-content: flex-end;
    padding: 0.5rem; }

  .top-nav .nav .nav-link {
    padding: 0.5rem 1rem; }

  .top-nav .language-form .form-group select {
    padding: 0.375rem 0.5rem; }

  .top-nav .left {
    display: none !important; }

  .main-overlay .main-background .content img {
    max-width: 100%; }

  .main-overlay .main-background .content .logo {
    max-width: 100%; }

  .main-overlay .main-background .content h1 {
    font-size: 2rem; }

  .action-icons .col {
    margin-bottom: 2rem; }

  .action-icons .col:last-child {
    margin-bottom: 0; }

  .landing-info {
    text-align: center; }

  .landing-info p {
    text-align: center; }

  .content-wrap {
    padding: 1rem; }

  html, body {
    font-size: 3vw; }

  footer.container-fluid {
    padding: 2rem; }

  footer.container-fluid .nav {
    flex-direction: column; }

  #playercard .modal-body .stats #career .table tbody tr td .info tr td .info {
    flex-wrap: wrap; }

  #playercard .modal-body .stats #career .table tbody tr td .info tr td .info ul {
    width: 50%; }

  .game-details .game-notes ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }

  .game-details .game-notes ul li {
    display: block;
    max-width: 100%;
    min-width: 50%;
    text-align: center;
    margin: 0;
    border: 0.25rem solid #fff; }

  .live-scoring .actions {
    text-align: center; }

  .live-scoring .live-lineup .lineup .lineup-body .roster-player {
    justify-content: space-between; }

  .live-scoring .live-lineup .lineup .lineup-body .roster-player .box-score {
    display: none; }

  .live-scoring .live-lineup .lineup .lineup-body .roster-player .box-score table thead tr th {
    font-size: 8px; }

  .live-scoring .live-lineup .lineup .lineup-body .roster-player .box-score table tbody tr td {
    font-size: 8px; }

  .live-scoring .rules-tab {
    display: none; }

  .live-scoring .live-tabs {
    margin-top: 0; }

  .login .btn {
    width: 100%; }

  .login .btn:first-child {
    margin-bottom: 1rem; }

  .steps .row {
    border-bottom: none;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }

  .steps .col-md-2 {
    text-align: left; }

  .steps .col-md-2 h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #000;
    border-bottom: 3px solid #ab2c30;
    margin: 0;
    line-height: 1.4;
    margin-top: 0.5rem; }

  .btn {
    width: 100%; } }

/*# sourceMappingURL=responsive.css.map */
